@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container px-2">
                <a class="navbar-brand" href="@baseUrl/">MoneyFlow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1 justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@baseUrl/">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@baseUrl/incomes">Pendapatan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@baseUrl/expenses">Pengeluaran</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@baseUrl/motivations">Motivasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@baseUrl/user/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container px-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <footer class="border-top footer text-muted">
        <div class="container px-2">
            &copy; 2023 - MoneyFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>