@model MoneyFlow.Models.PdfViewModel
@{
    ViewData["Title"] = @Model.PageTitle.ToUpper();
}

<div class="container" style="max-height: 50%;">
    <div class="row justify-content-center align-items-center w-100 h-100">
        <object class="d-flex w-100 h-100" data="data:application/pdf;base64,@Convert.ToBase64String(Model.PdfFile)" type="application/pdf"></object>
    </div>
</div>