@model MoneyFlow.Models.Pagination

@{
    int pageData = Model.ChoosenPage;
    var previousBtnConf = pageData == 1 ? "disabled" : "";
    var nextBtnConf = pageData == Model.EndPage || Model.TotalData == 0 ? "disabled" : "";
    var previousPage = pageData - 1;
    var nextPage = pageData + 1;   
}

<nav>
    <ul class="pagination justify-content-center">
        <li class="@previousBtnConf page-item page-index">
            <a class="page-link" onclick="changePage(this, '@previousPage')">&laquo;</a>
        </li>
        @foreach (string pageNum in Model.PageList)
        {
            if (pageNum == "...")
            {
                <li class="disabled page-item page-index"><a class="page-link">@pageNum<span class="sr-only">(current)</span></a></li>
            } else if (pageNum != Model.ChoosenPage.ToString())
            {
                <li class="clickable page-item page-index"><a class="page-link" onclick="changePage(this, '@pageNum')">@pageNum</a></li>
            } else
            {
                <li class="page-item active page-index"><a class="page-link">@pageNum<span class="sr-only">(current)</span></a></li>
            }            
        }
        <li class="@nextBtnConf page-item page-index">
            <a class="page-link" onclick="changePage(this, '@nextPage')">&raquo;</a>
        </li>
    </ul>
</nav>