@model byte[]
<div class="container m-2 p-4  rounded" style="border-radius: 1rem !important;">
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model)" class="img-fluid" style="max-height: 360p: max-width: 400p">
</div>