@model MoneyFlow.Models.Product
@using MoneyFlow.Constants
@using de = MoneyFlow.Utils.DataExtractor

@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    var productType = de.GetEnumDataList<ProductTypeEnum>();
}

<h4 class="text-center">Produk Baru</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" asp-action="CreateProduct">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Produk</label>
                <input asp-for="Name" class="form-control" placeholder="Nama produk"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label">Tipe Produk</label>
                <select asp-for="ProductType" class="form-control">
                    @foreach (string enumData in productType)
                    {
                        <option value="@enumData">@enumData</option>
                    }
                </select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Harga</label>
                <input asp-for="Price" class="form-control" placeholder="Harga satuan produk"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">URL gambar</label>
                <input asp-for="ImageUrl" class="form-control" placeholder="URL gambar" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group flex-grow-1">
                <input type="submit" value="Buat produk" class="btn btn-primary w-100" />
            </div>
        </form>
        <form method="get" action="/product">
            <div class="form-group flex-grow-1">
                <input type="submit" value="Kembali" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>