@model IEnumerable<MoneyFlow.Models.Product>

@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    Layout = "_InitLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
<p>
    <a href="@baseUrl/product/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Produk
            </th>
            <th>
                Tipe
            </th>
            <th>
                Harga
            </th>
            <th>
                URL Gambar
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
            foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td class="row">
                        <form href="@baseUrl/product/delete/@item.Id">
                            <div class="form-group flex-grow-1">
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </form>
                        <form method="" href="@baseUrl/product/delete">
                            <div class="form-group flex-grow-1">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</body>
</html>
