@model MoneyFlow.Models.TableView<Income>;
@using MoneyFlow.Models.DetailComponents;
@using MoneyFlow.Models;
@using MoneyFlow.Constants
@using MoneyFlow.Data;

@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    List<ModalView<string>> modalDeleteList = new List<ModalView<string>>();
    string keywordData = Model.SearchBarView.Keyword;
    string orderData = Model.PaginationView.Order;
    Model.SearchBarView.CreateDataUrl = $"{baseUrl}{UriPath.INCOMES_CREATE}";
}

<h4 class="text-center my-3"><b>@ViewData["Title"]</b></h4>

@await Html.PartialAsync(
    "~/Views/Shared/Components/PageComponents/SearchBar.cshtml", 
    Model.SearchBarView
)

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mr-1">Tanggal</span>
                        @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/ButtonSorting.cshtml",
                            new ButtonSorting(OrderConstants.ORDER_BY_DATE, orderData)
                        )
                    </div>
                </th>
                <th class="align-middle">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mr-1">Jumlah Pemasukan</span>
                        @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/ButtonSorting.cshtml",
                            new ButtonSorting(OrderConstants.ORDER_BY_MONEY, orderData)
                        )
                    </div>
                </th>
                <th class="text-center">
                    Tipe pemasukan
                </th>
                <th class="text-center">Aksi</th>
            </tr>
        </thead>
        @if (Model.Data.Count != 0) 
        {
            <tbody>    
                @foreach (Income Income in Model.Data) 
                {;
                    string modalDeleteId = $"modalDelete{Income.Id}";
                    string modalDetailId = $"modalDetail{Income.Id}";
                    modalDeleteList.Add(new ModalView<string>(
                        modalDeleteId, $"/incomes/delete/{Income.Id}", "hapus pengeluaran"
                    ));
                    <tr>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => Income.CreatedAt, "DateTime")
                        </td>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => Income.IncomeMoney, "Money")
                        </td>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => Income.IncomeType)
                        </td>
                        <td class="align-middle">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <button type="button" onclick="openModal('@modalDeleteId')" class="btn btn-danger my-1 mx-1">Hapus</button>
                                    <a class="btn btn-primary my-1 mx-1" href="@baseUrl/incomes/update/@Income.Id">Ubah</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        } 
    </table>
</div>

@if (Model.Data.Count == 0)
{
    @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/EmptyDataView.cshtml");
} else
{
    @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/PaginationView.cshtml", Model.PaginationView)

    <div class="d-flex justify-content-center align-items-center row row-cols-2 my-3">
        <a class="btn btn-primary" href="@baseUrl/file/generate-excel/incomes" download>
            <i class="bi bi-download"></i>
            Tabel Excel
        </a>
    </div>
    for (int i = 0; i < modalDeleteList.Count; i++)
    {
        @await Html.PartialAsync("~/Views/Shared/Components/DetailComponents/ModalConfirmationDelete.cshtml", modalDeleteList[i]);
    }
}

<script>
    setupPopover()
</script>